.form{
    width: 20%;
    height: 14rem;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    font-family: 'K2D', sans-serif;
    margin: auto;
    @include respon(phone){
        width: 80%;
    }
    @include respon(tablet-portrait){
        width: 50%;
    }
    @include respon(tablet-landscape){
        width: 50%;
    }
    &-datos{
        font-family: 'K2D', sans-serif;
        height: 2rem;
        width: 100%;
        color: $font_primary;
        margin-bottom: 2rem;
        background: $color_secundary;
        border: none;
        border-bottom: 1px solid $font_primary;
    }
    &-btn{
        font-family: 'K2D', sans-serif;
        height: 2.8rem;
        width: 100%;
        padding: .7rem 0;
        font-weight: 800;
        color: $font_primary;
        background: none;
        border: 1px solid $font_primary;
        transition: all .3s ease-in-out;
        &:hover{
            color: $color_primary;
            background: $btn_primary;
            border: 1px solid $btn_primary;
            border-radius: .5rem;
        }
    }
    &-option{
        font-family: 'K2D', sans-serif;
        height: 2rem;
        width: 100%;
        color: $font_primary;
        background-color: rgb(19, 0, 0);
        border: none!important;
    }
    &-alerta{
        margin: 2rem auto;
        text-align: center;
        font-family: 'K2D', sans-serif;
        font-weight: 800;
        line-height: 2.4rem;
        width: 100%;
        color: $font_primary;
        background: $color_secundary!important;
        border: 3px solid $back_primary;
    }
}