$color_primary: #1a0000;
$color_secundary: rgba(0, 0, 0, 0.247);
$color_tertiary: #9b9800;
$back_primary: #b4004b;
$back_secundary: #c4b700;
$back_tertiary: #4f9e8d;

// Style Font
$font_primary: #fff;

// Style Btn
$btn_primary:rgb(202, 165, 0);